extends  base

block content
  p=`Hi ${firstName},`
  p= `Forgot your Password, Click ${url} to reset password`
  p= `Note that this token token is valid for only 10 Minutes`
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset Your Password
  p If you did'nt make this request, please ignore.
  p - TECH TEAM

